<div class="container">
  <h2>Gestionar Centro de Donación</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group d-flex">
      <label for="centroId" class="me-2">ID del Centro</label>
      <input type="number" class="form-control me-2" id="centroId" [(ngModel)]="centro.id" name="centroId">
      <button type="button" class="btn btn-primary" (click)="loadCentro()">Buscar</button>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="centro.Nombre" name="nombre" required>
    </div>
    <div class="form-group">
      <label for="direccion">Dirección</label>
      <input type="text" class="form-control" id="direccion" [(ngModel)]="centro.Direccion" name="direccion" required>
    </div>
    <div class="form-group">
      <label for="contacto">Contacto</label>
      <input type="text" class="form-control" id="contacto" [(ngModel)]="centro.Contacto" name="contacto" required>
    </div>
    <div class="d-flex">
      <button type="submit" class="btn btn-primary me-2">{{ centro.id ? 'Actualizar' : 'Guardar' }}</button>
      <button type="button" class="btn btn-danger me-2" (click)="deleteCentro()" [disabled]="!centro.id">Eliminar</button>
      <button type="button" class="btn btn-secondary" (click)="resetForm()">Limpiar</button>
      <div>
        <!-- Botón para generar el reporte -->
        <app-pdf-report></app-pdf-report>
      </div>
    </div>
  </form>
  
  <div *ngIf="message" class="alert mt-3" [ngClass]="{
    'alert-success': messageType === 'success',
    'alert-danger': messageType === 'danger',
    'alert-warning': messageType === 'warning'
  }">{{ message }}</div>
</div>
